button {
	border-radius: 4px;
	margin: 3px;
}

.editbtns {
	position: absolute;
	top: 6em;
	right: 0;
}

.mathquill-editable {
	min-width: 150px;
}

.noborder {
	border: 0;
}

.editentry {
	border: 1px solid #CCC;
	border-radius: 10px;
	padding: 1em;
	padding-top: 0;
	display: inline-block;
}

.entrycontainer {
	margin-bottom: 2em;
}

body {
	padding: 1em;
}

.wrapper {
	margin: 0 auto;
	position: relative;
	max-width: 850px;
	padding-bottom: 10em;
}

.togglers {
	position: fixed;
	top: 15px;
	right: 15px;
	min-width: 70px;
	text-align: right;
}

.rowbuttons {
	text-align: center;
}

.rowdelbutton {
	margin-right: 4px;
}

.calctable td > div {
	display: inline-block;
}

.rowbuttons button {
	margin-right: 1em;
}

.calctable {
	border-collapse: collapse;
	min-width: 300px;
}

.calctable td {
	vertical-align: middle;
	text-align: center;
	padding: 1em 0;
}

.help, .datalink {
	position: fixed;
	top: 6em;
	left: 6em;
	right: 6em;
	bottom: 10em;
	padding: 1em;
	border: 1px solid #CCC;
	border-radius: 10px;
	background-color: #EEE;
	overflow-y: scroll;
}

.datalink p {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 12px;
}

.datalink a {
	display: block;
	margin-top: 3em;
	font-size: 0.9em;
}

tr.eqrow > td:first-child {
	text-align: right;
}

tr.eqrow > td:last-child {
	text-align: left;
}

.entries {
	text-align: center;
}

.calc {
	display: inline-block;
}

.closer {
	float: right;
	margin: 1em;
}

/* BOOTSTRAP STOLEN STUFF */

